<amexio-viewport [type]="'2'" [scrollable]="true">
  <!-- image 1 -->
  <amexio-viewport-content class="view-port-bg-image" [scrollable]="false">

    <amexio-viewport-background>
      <amexio-image [path]="'assets/images/ce1.jpeg'"></amexio-image>
    </amexio-viewport-background>

    <amexio-viewport-content-body>
      <amexio-nav [transparent]="true" [enable-side-nav-position]="true" [title]="'Amexio Demo App'"
        [logo]="'assets/images/amexio-logo.png'">
        <amexio-nav-item position-right [title]="'Training'" [icon]="'fa fa-yelp fa-fw fa-lg'" [type]="'link'"
          style="cursor: pointer;">
        </amexio-nav-item>
        <amexio-nav-item position-right [title]="'Engage'" [icon]="'fa fa-retweet fa-fw fa-lg'" [type]="'link'"
          style="cursor: pointer;">
        </amexio-nav-item>
        <amexio-nav-item position-right [title]="'About'" [icon]="'fa fa-address-book fa-fw fa-lg'" [type]="'link'"
          style="cursor: pointer;">
        </amexio-nav-item>
      </amexio-nav>
      <amexio-row>
        <amexio-column size="3" fit="false">
          <amexio-menu-ce [menu-alignment]="'center'" [menu-positioning]="'center'" [animation-type]="4"
            [data]="tempData" [size]="60">
          </amexio-menu-ce>
        </amexio-column>
        <amexio-column size="1" fit="false">
        </amexio-column>
        <amexio-column size="8" fit="false">
          <amexio-label size="large-bold" [font-color]="'black'">
            Enterprise Edition Demos
          </amexio-label>
          <amexio-row>
            <amexio-column [size]="6" [fit]="false">

              <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(176,214,154,.5)'">
                <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'random'" [height]="'35px'"
                  align="space-between">
                  <amexio-label [size]="'medium-bold'">
                    Demo 1
                  </amexio-label>
                  <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                    [tooltip]="'Fontawesome apple'" (onClick)="onDemoFirstClick()"></amexio-image>
                </amexio-header-ce>
                <amexio-body-ce>
                  <amexio-image [overlay-effect]="'slide-left'"
                    [overlay-text]="'Home Page Layouts provides built-in layouts to have a quick start on Home Pages for your enterprise Apps.!'"
                    class="homepage-cursor" [path]="'assets/images/homepage_demo1.jpg'" >
                  </amexio-image>
                </amexio-body-ce>
              </amexio-card-ce>


            </amexio-column>
            <amexio-column [size]="6" [fit]="false">

              <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(176,214,154,.5)'">
                <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'random'" [height]="'35px'"
                  align="space-between">
                  <amexio-label [size]="'medium-bold'">
                    Demo 2
                  </amexio-label>
                  <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                    [tooltip]="'Fontawesome apple'" (onClick)="onDemoSecondClick()"></amexio-image>

                </amexio-header-ce>
                <amexio-body-ce>
                  <amexio-image [overlay-effect]="'slide-left'"
                    [overlay-text]="'Home Page Layouts provides built-in layouts to have a quick start on Home Pages for your enterprise Apps.'"
                    class="homepage-cursor" [path]="'assets/images/homepage_demo2.jpg'" >
                  </amexio-image>

                </amexio-body-ce>

              </amexio-card-ce>
            </amexio-column>
          </amexio-row>
        </amexio-column>
      </amexio-row>


    </amexio-viewport-content-body>
  </amexio-viewport-content>

  <!-- image 2 -->
  <amexio-viewport-content>
    <amexio-viewport-background>
      <amexio-image [path]="'assets/images/vp1.jpg'"></amexio-image>
    </amexio-viewport-background>

    <amexio-viewport-content-body [scrollable]="true">

      <amexio-row>
        <amexio-column size="1" fit="false">
        </amexio-column>
        <amexio-column size="10" fit="false">

          <!--  ViewPort Demo -->
          <amexio-row>
            <amexio-column size="12" fit="true">

              <amexio-label size="large-bold" [font-color]="'white'">
                Creative Edition Demos
              </amexio-label>
              <amexio-layout-columns [orientation]="'vertical'" [border]="false" [alignment]="'space-evenly'">
                <amexio-layout-item [fit]="true">
                  <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'space-evenly'">
                    <amexio-layout-item>
                      <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(29,187,22,.45)'">
                        <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'random'"
                          [height]="'35px'" align="space-between">
                          <amexio-label [size]="'medium-bold'">
                            Viewort Demo 1
                          </amexio-label>
                          <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                            [tooltip]="'Fontawesome apple'" (onClick)="onViewportDemoFirstClick()"></amexio-image>
                        </amexio-header-ce>
                        <amexio-body-ce>
                          <amexio-image [overlay-effect]="'slide-left'" [overlay-text]="'Life is better when you Dance
                      Because Dance is the hidden language of the soul.'" class="homepage-cursor"
                            [path]="'assets/viewport/demo1.png'" >
                          </amexio-image>

                        </amexio-body-ce>
                      </amexio-card-ce>
                    </amexio-layout-item>
                    <amexio-layout-item>
                      <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(29,187,22,.45)'">
                        <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'vibrant'"
                          [height]="'35px'" align="space-between">
                          <amexio-label [size]="'medium-bold'">
                            Viewport Demo 2
                          </amexio-label>
                          <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                            [tooltip]="'Fontawesome apple'" (onClick)="onViewportDemoSecondClick()"></amexio-image>
                        </amexio-header-ce>
                        <amexio-body-ce>
                          <amexio-image [overlay-effect]="'slide-left'"
                            [overlay-text]="'If you want to buy some furniture then go throught it.'"
                            class="homepage-cursor" [path]="'assets/viewport/demo2.png'" >
                          </amexio-image>

                        </amexio-body-ce>

                      </amexio-card-ce>
                    </amexio-layout-item>
                    <amexio-layout-item>
                      <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(29,187,22,.45)'">
                        <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'random'"
                          [height]="'35px'" align="space-between">
                          <amexio-label [size]="'medium-bold'">
                            Viewport Demo 3
                          </amexio-label>
                          <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                            [tooltip]="'Fontawesome apple'" (onClick)="onViewportDemoThreeClick()"></amexio-image>
                        </amexio-header-ce>
                        <amexio-body-ce>
                          <amexio-image [overlay-effect]="'slide-left'" [overlay-text]="'By the deep sea, or the jungle, and music in its roar;
                      I love not Man the less, but Nature more.'" class="homepage-cursor"
                            [path]="'assets/viewport/demo3.png'" >
                          </amexio-image>

                        </amexio-body-ce>

                      </amexio-card-ce>
                    </amexio-layout-item>

                  </amexio-layout-columns>
                </amexio-layout-item>
              </amexio-layout-columns>
            </amexio-column>
          </amexio-row>



          <!--  Creative Menu Demo -->
          <amexio-row>
            <amexio-column size="12" fit="true">
              <amexio-layout-columns [orientation]="'vertical'" [border]="false" [alignment]="'center'">
                <amexio-layout-item [fit]="true">
                  <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
                    <amexio-layout-item>
                      <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(29,187,22,.45)'">
                        <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'classic'"
                          [height]="'35px'" align="space-between">
                          <amexio-label [size]="'medium-bold'">
                            Menu Demo 1
                          </amexio-label>
                          <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                            [tooltip]="'Fontawesome apple'" (onClick)="onMenuDemoFirstClick()"></amexio-image>
                        </amexio-header-ce>
                        <amexio-body-ce>
                          <amexio-image [overlay-effect]="'slide-left'"
                            [overlay-text]="'Creative Menu Demo with center alignment and animation effect.'"
                            class="homepage-cursor" [path]="'assets/viewport/menu1.png'" >
                          </amexio-image>

                        </amexio-body-ce>

                      </amexio-card-ce>
                    </amexio-layout-item>

                    <amexio-layout-item>
                      <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(29,187,22,.45)'">
                        <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'random'"
                          [height]="'35px'" align="space-between">
                          <amexio-label [size]="'medium-bold'">
                            Menu Demo 2
                          </amexio-label>
                          <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                            [tooltip]="'Fontawesome apple'" (onClick)="onMenuDemoSecondClick()"></amexio-image>
                        </amexio-header-ce>
                        <amexio-body-ce>
                          <amexio-image [overlay-effect]="'slide-left'"
                            [overlay-text]="'Creative Menu Demo with Right side alignment and animation effect.'"
                            class="homepage-cursor" [path]="'assets/viewport/menu2.png'" >
                          </amexio-image>

                        </amexio-body-ce>

                      </amexio-card-ce>
                    </amexio-layout-item>
                    <amexio-layout-item>

                      <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(29,187,22,.45)'">
                        <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'vibrant'"
                          [height]="'35px'" align="space-between">
                          <amexio-label [size]="'medium-bold'">
                            Menu Demo 3
                          </amexio-label>
                          <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                            [tooltip]="'Fontawesome apple'" (onClick)="onMenuDemoThreeClick()"></amexio-image>
                        </amexio-header-ce>
                        <amexio-body-ce>
                          <amexio-image [overlay-effect]="'slide-left'"
                            [overlay-text]="'Creative Menu Demo with left side alignment and animation effect.'"
                            class="homepage-cursor" [path]="'assets/viewport/menu3.png'" >
                          </amexio-image>

                        </amexio-body-ce>

                      </amexio-card-ce>

                    </amexio-layout-item>
                  </amexio-layout-columns>
                </amexio-layout-item>
              </amexio-layout-columns>
            </amexio-column>
          </amexio-row>
        </amexio-column>
        <amexio-column size="1" fit="false">
        </amexio-column>
      </amexio-row>


    </amexio-viewport-content-body>
  </amexio-viewport-content>

  <!-- image 3 -->
  <amexio-viewport-content [scrollable]="false">

    <amexio-viewport-background>
      <amexio-image [path]="'assets/images/techm.jpg'"></amexio-image>
    </amexio-viewport-background>

    <amexio-viewport-content-body>
      <br>
      <br>

      <amexio-row>
        <amexio-column size="2" fit="false">
        </amexio-column>
        <amexio-column [size]="8" [fit]="true">

          <amexio-card-ce [align]="'center'" [color]="'white'" [background]="'rgba(22,187,183,.4)'">
            <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'classic'" [height]="'35px'"
              align=" space-between">
              <amexio-label [size]="'medium-bold'" style="padding-left:40px; cursor: pointer;">
                Tech M Flix
              </amexio-label>
              <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                [tooltip]="'Fontawesome apple'" (onClick)="onDemoTechMClick()"></amexio-image>
            </amexio-header-ce>
            <amexio-body-ce>
              <amexio-image [overlay-effect]="'slide-left'"
                [overlay-text]="'Netflix chronicles the rise of the cocaine trade in Colombia and the gripping real-life stories of drug kingpins of the late 80s in this raw, gritty original series.
               Also detailed are the actions taken by law enforcement as they battle in the war on drugs, targeting notorious and powerful figures that include drug lord Pablo Escobar.'"
                class="homepage-cursor" [path]="'assets/images/techm.png'" >
              </amexio-image>

            </amexio-body-ce>

          </amexio-card-ce>

        </amexio-column>
        <amexio-column size="2" fit="false">
        </amexio-column>

      </amexio-row>

    </amexio-viewport-content-body>

  </amexio-viewport-content>
  <!-- image 4 -->

  <amexio-viewport-content [scrollable]="false">

    <amexio-viewport-background>
      <amexio-image [path]="'assets/images/se9.jpg'"></amexio-image>
    </amexio-viewport-background>

    <amexio-viewport-content-body>
      <br>
      <br>
      <br>
      <br>
      <amexio-row>
        <amexio-column size="1" fit="false">
        </amexio-column>
        <amexio-column size="10" fit="true">


          <amexio-label size="large-bold" [font-color]="'black'">
            Standard Edition Demos
          </amexio-label>
          <amexio-layout-columns [orientation]="'vertical'" [border]="false" [alignment]="'center'">
            <amexio-layout-item [fit]="true">
              <amexio-layout-columns [border]="false" [orientation]="'horizontal'" [alignment]="'center'">
                <amexio-layout-item>
                  <amexio-card-ce [align]="'start'" [color]="'white'" [background]="'rgba(220,17,125,.4)'">
                    <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'random'" [height]="'35px'"
                      align="space-between">
                      <amexio-label [size]="'medium-bold'">
                        U.S. Election APP
                      </amexio-label>
                      <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                        [tooltip]="'Fontawesome apple'" (onClick)="onElectionDemoClick()"></amexio-image>
                    </amexio-header-ce>
                    <amexio-body-ce>
                      <amexio-image [overlay-effect]="'slide-left'"
                        [overlay-text]="' U.S election Demo Application using Amexio tags. '" class="homepage-cursor"
                        [path]="'assets/images/election.png'" >
                      </amexio-image>

                    </amexio-body-ce>
                  </amexio-card-ce>
                </amexio-layout-item>

                <amexio-layout-item>
                  <amexio-card-ce [align]="'center'" [color]="'white'" [background]="'rgba(220,17,125,.4)'">
                    <amexio-header-ce amexioColorPalette [gradient]="true" [color-palette]="'random'" [color]="'white'"
                      [color]="'black'" [height]="'35px'" align="space-between">
                      <amexio-label [size]="'medium-bold'">
                        Shopping APP
                      </amexio-label>
                      <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                        [tooltip]="'Fontawesome apple'" (onClick)="onShoppingDemoClick()"></amexio-image>
                    </amexio-header-ce>
                    <amexio-body-ce>
                      <amexio-image [overlay-effect]="'slide-left'"
                        [overlay-text]="' Shopping Demo Application using multiple component of Amexio and  Amexio tags.'"
                        class="homepage-cursor" [path]="'assets/images/shopping.png'" >
                      </amexio-image>

                    </amexio-body-ce>

                  </amexio-card-ce>
                </amexio-layout-item>
                <amexio-layout-item>

                  <amexio-card-ce [align]="'center'" [color]="'white'" [background]="'rgba(220,17,125,.4)'">
                    <amexio-header-ce [height]="'35px'" amexioColorPalette [gradient]="true"
                      [color-palette]="'amexio-theme-color4  '" align="space-between">
                      <amexio-label [size]="'medium-bold'">
                        Insurance APP
                      </amexio-label>
                      <amexio-image style=" cursor: pointer;" [icon-class]="'fa fa-external-link fa-2x'"
                        [tooltip]="'Fontawesome apple'" (onClick)="onPolicyDemoClick()"></amexio-image>
                    </amexio-header-ce>
                    <amexio-body-ce>

                      <amexio-image [overlay-effect]="'slide-left'"
                        [overlay-text]="' Digital policy Demo Application using multiple component of Amexio and  Amexio tags.'"
                        class="homepage-cursor" [path]="'assets/images/policy.png'" >
                      </amexio-image>

                    </amexio-body-ce>

                  </amexio-card-ce>

                </amexio-layout-item>
              </amexio-layout-columns>
            </amexio-layout-item>
          </amexio-layout-columns>
        </amexio-column>
        <amexio-column size="1" fit="false">
        </amexio-column>
      </amexio-row>
    </amexio-viewport-content-body>
  </amexio-viewport-content>

</amexio-viewport>