/* You can add global styles to this file, and also import other style files

.navbardemo .navbar-container {
    position: relative !important;
    width: 90%;
  }
  .bgCss834backgound {
    
  }

  .bgCss{ 
    height: 50% !important;
  } */

  amexio-viewport-content-body {
    display: grid;
    position: relative;
    justify-content: center;
    /* background: rebeccapurple; */
    height: 100%;
    width: 100%;
  }
  /* amexio-viewport-content{
    display: grid;
    position: relative;
    justify-content: center;

  } */