/* You can add global styles to this file, and also import other style files

.navbardemo .navbar-container {
    position: relative !important;
    width: 90%;
  }
  .bgCss834backgound {
    
  }

  .bgCss{ 
    height: 50% !important;
  } */

  /* .topnavmainbaritems{
    padding-right: 15px;
  } */

  amexio-viewport-content-body {
   display: grid;
    position: relative;
    justify-content: center;
     height: 100%;
    width: 100%; 
  }

  @media only screen and (max-width: 767px) {

    amexio-viewport-content-body{
       overflow: auto;       height: 100%;
      height: 100%;
    }

  }

  @media only screen and (max-width: 959px) {

    amexio-viewport-content-body{
       overflow: auto;       height: 100%;
    }

  }

  @media only screen and (max-width: 1024px) {

    amexio-viewport-content-body{
       overflow: auto;       height: 100%;
    }
  }

  @media only screen and (min-width: 568px) and (max-width: 768px) {

    amexio-viewport-content-body{
       overflow: auto;       height: 100%;
    }
  }
 